/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: all .3s linear;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    font-family: 'Playfair Display', serif;
}

/* Header styles */
header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

header .logo {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

header img {
    width: 40%;
    height: 80%;
    border-radius: 50%;
}

header .logo #menu-btn{
    font-size: 25px;
    display: none;
}




.header-body{
    color: #000000;
    position: absolute;
    background-color:  #d4cccc69;
    top: 40%;
    font-size: 20px;
    font-weight: 200;
    width: 30%;
    height: 221px;
    left: 1%;
    margin: 40px;
    padding: 8px;
    text-align: center;
    float: right;
    border-radius: 3%;
    justify-content: center;
    align-items: center;
    animation: textup 12s linear infinite;
    transform: translateX(60px);
}

h6{
    font-weight: 100;
}

h4{
    font-size: 14px;
    text-align: center;
    color:#000000; 
    margin: 13px;
    letter-spacing: 1px;
}

.sliderr{
    width: 100%;
    height: 70px;
    overflow: hidden;
}

body .topbar{
    background-color: #efefef; 
    padding: 10px;
    width: 100%;
    height: 60px;
    float: right;
}

.sliderr .top-bar-s{
    position: relative;
    left: 0;
    width: 500%;
    animation: 8s slide forwards;
}

.slider{
    width: 100%;
    height: 600px;
    overflow-x: hidden;
}

.slider .hero{
    position: relative;
    left: 0;
    width: 400%;
    animation: 17s slide infinite;
}

.slide{
    position: relative;
    width: 25%;
    float: left;
}

.slide-up{
    position: relative;
    width: 20%;
    float: left;
}

.slide img{
    width: 100%;
    height: 100%;
}


@keyframes slide{
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    50%{
        left: -200%;
    }
    55%{
        left: -300%;
    }
    65%{
        left: -300%;
    }
    66%{
        left: -200%;
    }
    74%{
        left: -200%;
    }
    75%{
        left: -100%;
    }
    85%{
        left: -100%;
    }
    90%{
        left: 0;
    }
    1000%{
        left: 0;
    }
}

.down{
    background-color: white;
    height: 200px;
}

.down .our-products{
    background-color: white;
}

.our-products h2{
  margin-top: 20px;
  background-color: #8d47a1;
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.down .box{
    position: relative;
    width: 300px;
    height: 300px;
    display: inline-block; 
    border-radius: 8px;
    overflow: hidden;
    margin: 45px;
    border: 2px solid #fff;
}

img{
    width: 100%;
    transition: all linear 0.7s;
}

img.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.box:hover img{
    opacity: 0;
}

.box:hover img.hover-img{
    opacity: 1;
}

.button-wrapper {
    display: block;
    text-align: center;
}

.button {
    border: none;
    border-radius: 3em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    width: auto;
    margin: 11%;
}

.cta-button {
    background-color: #000;
    color: #fff;
}
  
.cta-button:hover {
    background-color: #777;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #434343;
    color: white;
    margin-top: -150px;
}

footer img{
    width: 200px;
    height: 90px;
    margin-top: 4%;
    border-radius: 10px;
}

footer .who-we-are{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    gap: 30px;
    margin-top: 50px;
}

footer .who-we-are p a{
    color: #fafafa;
}

footer .who-we-are .made-by{
    text-decoration: underline;
}

footer .quick-links{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 25%;
    gap: 20px;
    list-style: none;
}

footer .quick-links h3{
    color: rgb(12, 12, 12);
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 50%;
    padding-left: 5px;
}

footer .quick-links li a{
    color: #fafafa;
    text-decoration: none;
    font-size: 15px;
}

footer .quick-links li a:hover{
    color: var(--myBlue);
    background-color: rgb(12, 12, 12);
    width: 25%;
    padding: 3px;
    border-radius: 5px;
}


footer .contact{
    width: 25%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-top: 50px;
}

footer .contact .cont{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 60px;
}

footer .contact .cont span{
    display: flex;
    flex-direction: column;
}

footer .contact .cont span .mymail{
    text-transform: none;
}

header .mobile-navigation{
    display: none;
}

header .desktop-navigation{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header .desktop-navigation-items{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header .desktop-navigation-items li{
    list-style: none;
}

header .desktop-navigation-items li a{
    font-size: 17px;
    color: purple;
}

header .desktop-navigation-items li a:hover{
    color: #000;
}

header .desktop-navigation .account{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header .desktop-navigation .account li{
    list-style: none;
    width: 40%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 52px;
}

header .desktop-navigation .account li a{
    font-size: 17px;
    background-color: purple;
    color: #fafafa;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

header .desktop-navigation footer{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #efefef;
    color: #434343;
    margin-top: -20px;
}

header .desktop-navigation .footer-item{
    width: 40%;
    color: rgb(12, 12, 12);
    margin: 40px;
}


/* Media queries for responsiveness */
@media (max-width: 500px) {
    header .desktop-navigation{
        display: none;
    }

    header .logo{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        padding-right: 20px;
    }

    header .logo img{
        width: 15%;
    }
    
    header .logo #menu-btn{
        display: block;
        font-size: 30px;
    }

    header .mobile-navigation{
        display: none;
        height: 100vh;
        width: 60%;
        position: absolute;
        top: 60px;
        left: 20px;
        flex-direction: column;
        gap: 50px;
        background-color: #fff;
    }

    header .mobile-navigation-items{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 40%;
        width: 100%;
        z-index: 100;
        position: absolute;
        top: 97px;
    }

    header .mobile-navigation-items li{
        height: 40px;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    header .mobile-navigation-items li a{
        background-color: #8d47a1;
        color: #fafafa;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
    }

    header .mobile-navigation-items li a:hover{
        background-color: #622174;
    }
    
    /* header .mobile-navigation .account{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 40%;
    }

    header .mobile-navigation .account li{
        height: 40px;
        width: 40%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header .mobile-navigation .account li a{
        color: purple;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
    } */
    

    .mobile-navigation .mobile-navigation-header{
        width: 100%;
        height: 100px;
    }

    .mobile-navigation .mobile-navigation-header #close-btn{
        font-size: 25px;
        position: relative;
        left: 80%;
        top: 20%;
    }

    .slider{
        border: dashed;
        width: 100%;
        height: 600px;
        overflow-x: hidden;
    }

    .slider .hero{
        position: relative;
        left: 0;
        width: 400%;
        border: dashed red
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 400px;
        background-color: #434343;
        color: white;
        margin-top: -30%;
    }















}